body{
  place-items: center;
  background: lightcyan;
  color: black;
  linkcolor: white;
}
#Name {
  text-align: center;  /* centers the text horizontally */
  font-weight: bold;   /* makes the text bold */
  font-size: 3em;
}
#heading{
  text-align: center;
  font-size: 1.2em;
}
